form {
  text-align: center;
  padding-top: 25px;
}

h3 {
  color: #8486c3;
}

.edited label {
  display: block;
  padding-bottom: 3px;
}

.edited input, select {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid #8486c3;
  text-align: center;
}

#result {
  padding: 15px;
  color: #8486c3;
}

button {
  width: 20%;
  height: 30px;
  border-radius: 10px;
  background-color: #8486c3;
}